 <h2 id='sel2'> {{selectedShopName}}</h2>
<select id='sel1' class="form-control" [(ngModel)]="selectedShopId">
  <option *ngFor="let shop of shops"
  [selected]="shop.shopId === selectedShopId"
  [value]="shop.shopId">
      {{ shop.name}} <br>: {{shop.address }}
      </option>
</select>

<div class="input-group">
  <input type="number" class="form-control" (keyup)="onKey($event)" [(ngModel)]="countInput" ng-init="countInput=1" >
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="countPlus()">+</button>
    <button class="btn btn-outline-secondary" type="button" (click)="countMinus()">-</button>
  </div>
</div>

<div class = "mt-5">
  <select class="form-control" [(ngModel)]="selectedProductId">
    <option *ngFor="let allProduct of allProducts"
    [selected]="allProduct.productId === selectedProduct"
    [value]="allProduct.productId">
        {{ allProduct.name}} <br> {{allProduct.priseSale }}$
        </option>
</select>

  <br><button type="button" class="btn btn-outline-danger" (click)="addEmptySell()">addEmptySell</button>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="table-primary">
        <td scope="col">productId</td>
        <td scope="col">count</td>
        <td scope="col">shopId</td>
        <!-- <td scope="col">edit </td>
        <td scope="col">delete </td> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sell of sells">
        <td><input type="number" [(ngModel)]="sell.productId"></td>
        <td><input type="number" [(ngModel)]="sell.count"></td>
        <td><input type="number" [(ngModel)]="sell.shopId"></td>
        <!-- <td><button (click)="putProduct(product)">Edit</button> </td>
        <td><button (click)="deleteProductById(product.productId)">deleteProduct</button> </td> -->
      </tr>
      <tbody>
    </table>
    <br><button type="button" class="btn btn-outline-danger" (click)="postSell()">createSell</button>

</div>
