<div class = "mt-5">
  <select class="form-control" [(ngModel)]="selectedProductId">
    <option *ngFor="let allProduct of allProducts"
    [selected]="allProduct.productId === selectedProduct"
    [value]="allProduct.productId">
        {{ allProduct.name}} <br> {{allProduct.priseSale }}$
        </option>
</select>

<div class="input-group">
  <input type="number" class="form-control" (keyup)="onKey($event)" [(ngModel)]="countInput" ng-init="countInput=1" >
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="countPlus()">+</button>
    <button class="btn btn-outline-secondary" type="button" (click)="countMinus()">-</button>
  </div>
</div>
<!--
  <input (keyup)="onKey($event)" [(ngModel)]="countInput" ng-init="countInput=1"> -->


  <select class="form-control" [(ngModel)]="selectedShopId">
    <option *ngFor="let shop of shops"
    [selected]="shop.shopId === selectedShop"
    [value]="shop.shopId">
        {{ shop.name}} <br>: {{shop.address }}
        </option>
</select>

  <!-- <h1>You selected shop: {{selectedShopId}}</h1> -->
  <br><button type="button" class="btn btn-outline-danger" (click)="postSell()">createSell</button>


</div>
